# Default values for whoami
replicaCount: 1

image:
  repository: traefik/whoami
  tag: v1.10
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 80

ingress:
  enabled: true
  className: nginx
  annotations: {}

resources:
  requests:
    memory: "32Mi"
    cpu: "50m"
  limits:
    memory: "64Mi"
    cpu: "100m"

# Injected by kubriX ApplicationSet from spoke cluster annotation
kubriXIngressDomain: ""
