# Prod environment overrides
replicaCount: 2

resources:
  requests:
    memory: "64Mi"
    cpu: "100m"
  limits:
    memory: "128Mi"
    cpu: "200m"


ingress:
  className: "nginx-tietoevry"
  hosts:
    - host: ${{values.team}}-${{values.application_id}}.prod.tietoevry.platform-engineer.cloud