# Test environment overrides
replicaCount: 1

resources:
  requests:
    memory: "64Mi"
    cpu: "100m"
  limits:
    memory: "128Mi"
    cpu: "200m"

ingress:
  className: "nginx-tietoevry"
  hosts:
    - host: ${{values.team}}-${{values.application_id}}.test.tietoevry.platform-engineer.cloud